.cart-page-container{
    background: var(--bodyColor);
}
.cart-increase-decrease-btn{
    padding: 5px;
    background-color: rgba(128, 0, 128, 0.719);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}