.product-category-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
    overflow-x: hidden;
}

.product-category-wrapper{
    width: 100%;
    max-width: "300px";
    height: auto;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
}

.product-category-wrapper-image{
    border-radius: 10px;
    aspect-ratio: 3 / 4;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-category-wrapper-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.055);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .product-category-wrapper-text{
        flex-direction: column;
        justify-content: flex-end;
    }
}