.bread-crumb{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    padding: 20px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    
}

.content-after-bread-crumb{
    padding: 20px;
    display: flex;
    gap: 50px;
}

.welcome-back{
    width: 400px;
    width: 40vw;
    height: 150px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.admin-dashboard-profile-status{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .bread-crumb{
        border-radius: 0;
    }
    .content-after-bread-crumb{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
    }
    .welcome-back{
        width: 85vw;
    }
}




.animation {
    font-size: 24px; /* Adjust as needed */
    font-weight: normal; /* Adjust as needed */
    color: #333; /* Text color */
    text-decoration: none; /* Remove default underline */
    cursor: pointer; /* Change cursor to indicate it's interactive */
}

.animation div {
    position: relative;
    display: inline-block;
    margin-bottom: 10px; /* Add some space between lines if needed */
}

.animation div::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Position the underline just below the text */
    left: 0;
    width: 0;
    height: 2px; /* Height of the underline */
    background-color: #333; /* Color of the underline */
    transition: width 0.5s;
}

.animation:hover div:nth-child(1)::before {
    animation: underline1 0.5s forwards;
}

.animation:hover div:nth-child(2)::before {
    animation: underline2 0.5s forwards 0.5s; /* Start after the first underline finishes */
}

@keyframes underline1 {
    to {
        width: 100%;
    }
}

@keyframes underline2 {
    to {
        width: 100%;
    }
}
