.bread-crumb{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    padding: 20px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    
}

.content-after-bread-crumb{
    padding: 20px;
    display: flex;
    gap: 50px;
}

.welcome-back{
    width: 400px;
    width: 40vw;
    height: 150px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.admin-dashboard-profile-status{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .bread-crumb{
        border-radius: 0;
    }
    .content-after-bread-crumb{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
    }
    .welcome-back{
        width: 85vw;
    }
}