.admin-page-container{
    margin-top: 80px;
    background-color: #f4f5fa;
    height: calc(100vh - 80px);
    /* position: relative; */
    padding: 0 10px;
}

.admin-page-sidebar-container{
    width: 250px;
    position: fixed;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.322);
    height: calc(100% - 150px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    left: 20px;
    background-color: white;
    top: 100px;
    gap: 20px;
}
.admin-cancel-menubar{
    display: none;
}
.admin-sidebar-icon-wrapper{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.admin-sidebar-icon-wrapper:hover{
    background-color: rgba(192, 189, 189, 0.11);
    cursor: pointer;
}

.admin-dashboard-content{
    margin-left: 280px;
    padding-top: 20px;
}



@media (max-width: 991px) {

    .admin-page-container{
        height: 100%;
        padding: 0;
    }
    .admin-sidebar-black{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.671);
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
    .admin-page-sidebar-container{
       position: absolute;
       height: 100vh;
       top: 0;
       z-index: 2;
       left: -600px;
    }
    .admin-cancel-menubar{
        display: block;
    }
    .show{
        position: fixed;
        height: 100vh;
        left: 0;
        animation-name: show;
        animation-duration: .5s;
        gap: 20px;
    }
    @keyframes show {
        from{
            left: -600px;
        }to{
            left: 0;
        }
    }

    .admin-dashboard-content{
        margin-left: 0;
        padding-top: 0;
    }
}