/* Container styles */
.search-component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Wrapper styles */
.search-component-wrapper.form {
    width: 100%;
    /* max-width: 500px; */
}

/* Search component styles */
.search-component {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: #f9f9f9;
}

/* Icon styles */
.search-component i {
    color: #aaa;
    margin-right: 10px;
    font-size: 1.2em;
}

/* Input field styles */
.search-component .form-control {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    background: transparent;
}
