.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
  
  .forgot-password-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }


  @media (max-width: 767px) {
    .forgot-password-container {
        display: flex;
        align-items: start;
    }
    .forgot-password-card {
        margin-top: 100px;
        padding-bottom: 80px;
    }
  }






/* ------------or---------- */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .line {
    flex-grow: 1;
    /* height: 3px; */
    background-color: #ccc;
    /* border: none; */
    margin: 0 10px;
  }
  
  .text {
    padding: 0 10px;
    font-size: 16px;
    color: #666;
    white-space: nowrap;
  }
  