.shipping-policy-container{
    /* width: 100%; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--bodyColor);
    margin-top: var(--marginAboveTop);
    gap: 20px;
    /* min-height: calc(100vh - var(--marginAboveTop)); */
}


.shipping-policy-wrapper{
    /* margin-top: 20px; */
    width: 500px;
    padding: 20px;
    /* background-color: red; */
    
}
.shipping-policy-wrapper>p{
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}