.banner-component-container{
    margin-top: var(--marginAboveTop);
}

.first-banner-container{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 350px;
}
.aside-banner-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }
  
  .aside-banner-item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }

  
  .aside-banner-container::-webkit-scrollbar {
    width: 0px;
    height: 7px;
  }
  
  .aside-banner-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .aside-banner-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .aside-banner-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }






@media (max-width: 767px) {
    .first-banner-container{
        display: flex;
        flex-direction: column-reverse;
        /* gap: 10px; */
        /* justify-content: center; */
        /* padding: 50px 0px; */
        
    }
}

















.new-banner-container{
  display: flex;
  margin-top: var(--marginAboveTop);
}
.new-banner-video{
  max-width: 50%;
  width: 100%;
  max-height: calc(100vh - var(--marginAboveTop));
  object-fit: cover;
  min-width: 50%;
}

.new-banner-carousel-container{
  /* max-width: 100%; */
  height: calc(100vh - var(--marginAboveTop));
  /* width: 50vw; */
  border-radius: 0;
  /* background: RGB(102, 0, 102); */
  /* background: RGB(102, 0, 90); */
  /* background: #e6aebf85; */
  background: #e6aebf25;



  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {

  .new-banner-container {
    display: flex; /* Keep flex layout to avoid unexpected spacing */
    flex-direction: column; /* Stack the video and carousel vertically */
 
  }


  .new-banner-video, .new-banner-carousel-container {
    max-width: 100%; /* Ensure both video and carousel take full width */
    width: 100%;
    height: 46vh; /* Keep both at 50% height or adjust to your preference */
    margin: 0; /* Remove margin to prevent gaps */
    padding: 0; /* Remove padding to prevent gaps */
  }
}